:root {
  /* colors */
  --primary-color: rgb(186, 60, 60);
  --tertiary-color: rgb(34, 8, 8);
}

* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* body {
  background: linear-gradient(
    to right,
    var(--primary-color) 0%,
    var(--tertiary-color) 100%
  );
} */

.movies {
  padding: 1rem;
  border: 3rem;
}
section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 95%;
  margin: 0 auto;
}
.poster-img {
  width: 100%;
}
